<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="/css/tailwind.css">	
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="flex flex-col min-h-screen">
 {% include "partials/navbar.njk" %}

  <main class="flex-grow">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>

{% include "partials/footer.njk" %}
</html>
