<header class="bg-dark-gray shadow-lg sticky top-0 z-50 relative rounded-xl">
  <nav class="container mx-auto px-6 py-3 flex justify-between items-stretch">
    {# Site Title / Logo #}
    <div>
      <a href="/" class="text-off-white text-2xl font-bold transition-colors">
        D&D Campaign
      </a>
    </div>

    {# Desktop Navigation Links (Visible on medium screens and up) #}
    <div class="hidden md:flex space-x-6">
      <a href="/blog/" class="text-gray-light hover:text-red-bright transition-colors h-full py-0 px-3 flex items-center">Campaign Log</a>
      <a href="/characters/" class="text-gray-light hover:text-red-bright transition-colors h-full py-0 px-3 flex items-center">NPCs</a>
      <a href="/items/" class="text-gray-light hover:text-red-bright transition-colors h-full py-0 px-3 flex items-center">Items</a>
      <a href="/players/" class="text-gray-light hover:text-red-bright transition-colors h-full py-0 px-3 flex items-center">Players</a>
      <a href="/misc/" class="text-gray-light hover:text-red-bright transition-colors h-full py-0 px-3 flex items-center">One Shots and Memes</a>
    </div>

    <button id="hamburger-button" class="hamburger-button md:hidden" aria-label="Open Menu">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
  </nav>

    <div id="mobile-menu" class="hidden md:hidden bg-darkest">
      <a href="/blog/" class="block py-2 px-6 text-gray-light hover:bg-dark-gray">Campaign Log</a>
    <a href="/characters/" class="block py-2 px-6 text-gray-light hover:bg-dark-gray">NPCs</a>
    <a href="/items/" class="block py-2 px-6 text-gray-light hover:bg-dark-gray">Items</a>
    <a href="/players/" class="block py-2 px-6 text-gray-light hover:bg-dark-gray">Players</a>
    <a href="/misc/" class="block py-2 px-6 text-gray-light hover:bg-dark-gray">One Shots and Memes</a>
  </div>

</header>

<script>
  const btn = document.getElementById('hamburger-button');
  const menu = document.getElementById('mobile-menu');

  btn.addEventListener('click', () => {
    btn.classList.toggle('is-active');
    menu.classList.toggle('hidden');
  });
</script>
